@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .border-dark{
    @apply border border-gray-700/50
  }

  .sidebar-style {
    @apply bg-white dark:bg-gray-800 border-r border-r-gray-100 dark:border-r-gray-700
  }

  .text-primary {
    @apply text-gray-800 dark:text-gray-200
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300
  }

  .text-light {
    @apply text-gray-600 dark:text-gray-400
  }

}

.main-page {
  display: grid;
  grid-template-columns: 300px 1fr;
}

@media (max-width: 1024px) {

  .main-page {
    display: grid;
    grid-template-columns: 1fr;
  }

}

.pattern {
  background-image: url('/4.png');
  background-size: 400px;
  background-repeat: repeat;
  opacity: 0.3;
  z-index: 0;
}